<% layout("/layouts/boilerplate")-%>
<body>
  
    <h3>MY Communities</h3>
    
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <%for(let community of joinedCommunities ){%>
           
            
                    <a href="/community/<%=community._id%>" style="text-decoration:none">
                        <div class="card col listing-card" style="width: 20rem;">
                          <img src="<%=community.image%>" class="card-img-top" alt="community_image"  style="height: 20rem;">
                          <div class="card-img-overlay">
                          
                          </div>
                          <div class="card-body">
                            <p class="card-text">
                              <b><%=community.name%></b>
                              <p class="card-description"><%=community.description%></p>
                              <p>No.of Residents:<b><%=community.resident.length%></b></p>
                                <div class="Address">
                                    <p><%=community.country%></p>
                                    <p><%=community.location%></p>
                                </div>
                            </p>
                          </div>
                      </div>
                      </a>
                
           
                   
            
            <%}%>
        
    </div>
    

    
    
    

</body>
