<% layout("/layouts/boilerplate")-%>
<body>
    <div class="row col-80vh">
        <div class="col-8 offset-3">
            <h3 style="text-align: center;"><b><%=community.name%></b></h3><br>
            <div class="card col-8  offset-0.9 show-card">
        <img src="<%=community.image%>" class="card-img-top show-img col-8" alt="listing_img">
        <div class="card-body">
            <p class="card-text">
                <p> Created by <b><%=community.owner.username%></p>
                <p><%= community.description%><br></p>
               
                <p><%= community.location%></p>
                <p><%= community.country%></p>
                  
                   
                    
                   
                    
                    
                </ul>
                
            </p>
            </div>
        </div>
        </div>
       
            <%if(!flag){%>
                <form method="post" action="/add/<%=community._id%>"><button class="btn btn-success">Join the Community</button></form>

            <%}%>
            <%if(flag){%>
                <h1>Residents</h1>
                <% for(let resident of residents) { %>
                    <p><%=resident.username%></p>
                <%}%>
                <h1>Chat</h1>
                <% for(let messageAndUser of messagesAndUsers ) { %>
                    <p><%=messageAndUser.user.username%></p>
                    <p><%=messageAndUser.message%></p>
                <%}%>

                <form method="POST" action="/alertbox">
                    <input type="hidden" name="id" value="<%=myalertbox._id%>">
                  
                    <div class="mb-3">
                        <label for="msg" class="form-label">Alert Box</label>
                        <textarea name="msg" placeholder="Post something" class="form-control" required></textarea>
                        <div class="invalid-feedback">Enter message before posting</div>
            
                    </div>
                    <button class="btn btn-success">Send</button>
                </form>
            <%}%>
            
            
            
            
            
      
           
    
        
      
        
        
    
    </div>
    
    

    


    
</body>
